<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.pbasu.simple.car"></context:component-scan>
<!-- 	
	<bean id="smallTire" class="com.pbasu.simple.car.SmallTire">
	</bean>
	<bean id="bigTire" class="com.pbasu.simple.car.BigTire">
	</bean>
	<bean id="fourCyl" class="com.pbasu.simple.car.FourCylinderEngine">
	</bean>
	<bean id="sixCyl" class="com.pbasu.simple.car.SixCylinderEngine">
	</bean>
	
	<bean id="altFamilyCar" class="com.pbasu.simple.car.FamilyCar"/>
	<bean id="altWeekendCar" class="com.pbasu.simple.car.WeekendCar"/>
-->
	
</beans>